$purple-color: #7e38d8;

.subcategories__list {
  padding: 0;
  list-style-type: none;
  margin: 0;
  border-radius: 2px;

  .subcategories__item {
    color: white;
    padding: 10px;
    background-color: $purple-color;
    border-bottom: 1px solid white;
    cursor: pointer;
  }
}

.accordion {
  .card {
    border: 0;
    border-bottom: 1px solid #f8f4fe;

    .card-header {
      background-color: transparent;
      border: 0;
      padding: 0;

      button {
        width: 100%;
        padding: 0;
        background: transparent;
        border: 0;
        outline: 0;
        text-align: left;
        padding: 20px;
      }
    }

    .collapse {
      .card-body {
        padding: 0;
      }
    }
  }
}
